package admin

import(
	"smoothstart/views/layout"
)

templ Home() {
	@layout.BaseHTML()
	@Header()
		<div id="app-view" class="container mx-auto">
		<h1 class="mx-auto">Admin dashboard</h1>
		<div class="flex justify-center">
		</div>
		</div>
}
