package admin

import (
	"smoothstart/views/layout"
	"smoothstart/views/components"
	"smoothstart/models"
)

templ Team(users []models.User) {
	@layout.BaseHTML()
	@Header()
	<div id="app-view" class="container mx-auto">
		<h1 class="text-cream p-8">Your team</h1>
		<div class="grid grid-cols-6 gap-4">
		@components.AddButton("/team/new-member")
		for _, u := range users {
			@components.MemberBlock(u.Fname,u.HasPlan)
		}
		</div>	
	</div>
}
