package components

templ AddButton(target string) {
	<div class="w-8 h-8 rounded-xl border-2 border-dark transition-colors hover:bg-yellow flex justify-center items-center cursor-pointer" hx-post={ target }>
		<span class="text-dark text-2xl">+</span>
	</div>
}
