@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-2xl text-dark;
  }
  h2 {
    @apply text-xl text-dark;
  }
  h3 {
    @apply text-lg text-dark;
  }
  h4 {
    @apply text-lg text-dark;
  }
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

